
<div id = "background">

    <div class="col-md-offset-4 col-sm-4"  style="margin-top : 100px;">

        <form #f="ngForm" (ngSubmit)="Signup(f)" class="form-horizontal" >
      
          <div class="panel panel-default" id ="background">
       
            <div class="panel-body">
                <h3>
                    REGISTER FORM
                </h3>
              <div class="form-group">
                <div class="col-xs-12">
                  <label>Your Name</label>
                  <input type="text" class="form-control" name="username" ngModel >
                </div>
              </div>
      
              <div class="form-group">
                  <div class="col-xs-12">
                      <label>Your Email Address</label>
                    <input type="text" class="form-control" name="email" ngModel >
                  </div>
                </div>
      
              <div class="form-group">
                <div class="col-xs-12">
                  <label>Your Password</label>
                  <input type="password" class="form-control" name="password" ngModel >
                  <br>
                  <button type="submit" class="btn btn-default pull-right button" >Signup</button>

                </div>
              </div>
              
              <input type="checkbox" name="terms" id="terms" ngModel >  I Agree to the Term of service
      
            </div>
          </div>
      
        </form>
      
        
      </div>





</div>
 